<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>

<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

<!--<form action="/roll-dice" method="GET">-->
<!--    <label for="guess"></label>-->
<!--    <select id="guess" th:field="*{n}">-->
<!--        <option th:each="i : ${#numbers.sequence(0, 6)}" th:value="${i}" th:text="${i}">-->
<!--        </option>-->
<!--    </select>-->
<!--</form>-->

<p>You guessed <span th:text="${guess}"></span> and rolled a <span th:text="${roll}"></span></p>

<!--<th:block th:if="${roll == guess}">-->
<!--    <p>YOU WON!</p>-->
<!--</th:block>-->

<!--<th:block th:if="${roll != guess}">-->
<!--    <p>YOU LOST!</p>-->
<!--</th:block>-->

<div th:switch="${roll == guess}">
    <p th:case="${true}">YOU WON!</p>
    <p th:case="${false}">YOU LOST!</p>
</div>

</body>
</html>