<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Join</title>
</head>
<body>

<h1>Guess a number between 1 and 6</h1>
<h4 th:text="${n}"></h4>

<!--<form action="/roll-dice/n" method="post">-->
<!--    <input type="text" name="guess"/>-->
<!--    <button>Submit</button>-->
<!--</form>-->

<!--first off, the exercise says i need 6 links for the numbers-->
<!--each one sends a get request to the link with their respective numbers-->
<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

</body>
</html>